{% extends "skeletons/page.njk" %}

{% block content %}
    {# Define the filter block #}
    {% block filter %}
    {% endblock %}
    
    {% for item in list %}
        {% block listItem %}
        {% endblock %}
    {% endfor %}
{% endblock %}