<!DOCTYPE html>
<html>
    <head>
        
        <!-- Pull in the head. -->
        {% include "partials/head.njk" %}
        
        <!-- Define a block for specific page to load in more head. -->
        {% block app_head %}{% endblock %}
        
    </head>
    <body>
        
        <!-- Pull in the header. -->
        {% include "partials/header.njk" %}
        
        <!-- Define the content block/ -->
        {% block content %}{% endblock %}
        
        <!-- Pull in the footer. -->
        {% include "partials/footer.njk" %}
        
        <!-- Pull in the site wide scripts. -->
        {% include "partials/scripts.njk" %}
        
        <!-- Define a block for specific page to load in more scripts. -->
        {% block app_scripts %}{% endblock %}
        
    </body>
</html>